
<table style="text-align:center"><caption><strong>Table 3. Regression Results: Wage Gap Models</strong></caption>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="3"><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="3" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td colspan="2">Log Nominal Hourly Wage</td><td>Residualized Log Nominal Hourly Wage</td></tr>
<tr><td style="text-align:left"></td><td>Model 6</td><td>Model 7</td><td>Model 7 FWL</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Female</td><td>-0.009<sup>*</sup></td><td>-0.039<sup>***</sup></td><td></td></tr>
<tr><td style="text-align:left"></td><td>(0.006)</td><td>(0.005)</td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Female FWL</td><td></td><td></td><td>-0.039<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td>(0.005)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>8.482<sup>***</sup></td><td>7.814<sup>***</sup></td><td>-0.000</td></tr>
<tr><td style="text-align:left"></td><td>(0.004)</td><td>(0.024)</td><td>(0.002)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>14,993</td><td>14,993</td><td>14,993</td></tr>
<tr><td style="text-align:left">R<sup>2</sup></td><td>0.0002</td><td>0.421</td><td>0.004</td></tr>
<tr><td style="text-align:left">Adjusted R<sup>2</sup></td><td>0.0001</td><td>0.420</td><td>0.004</td></tr>
<tr><td style="text-align:left">Residual Std. Error</td><td>0.338 (df = 14991)</td><td>0.257 (df = 14983)</td><td>0.257 (df = 14991)</td></tr>
<tr><td style="text-align:left">F Statistic</td><td>2.942<sup>*</sup> (df = 1; 14991)</td><td>1,209.138<sup>***</sup> (df = 9; 14983)</td><td>63.691<sup>***</sup> (df = 1; 14991)</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="3" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
<tr><td style="text-align:left"></td><td colspan="3" style="text-align:right">Model 7 includes additional controls: Age, Employment Sector, Female Household Head, Weekly Hours Worked, Formality, Firm Size, and Education. FWL refers to the Frisch-Waugh-Lovell decomposition. Bootstrap models account for resampling variability.</td></tr>
</table>
