
<table style="text-align:center"><caption><strong>Table 5. Comparison LOOCV and Validation Set Approach</strong></caption>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Model</td><td>RMSE</td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Model 12: Validation set approach</td><td>0.254</td></tr>
<tr><td style="text-align:left">Model 12: LOOCV</td><td>0.253</td></tr>
<tr><td style="text-align:left">Model 12: Leverage</td><td>0.253</td></tr>
<tr><td style="text-align:left">Model 9: Validation set approach</td><td>0.255</td></tr>
<tr><td style="text-align:left">Model 9: LOOCV</td><td>0.254</td></tr>
<tr><td style="text-align:left">Model 9: Leverage</td><td>0.254</td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td colspan="2" style="text-align:left">Note: This table contains the LOOCV estimation for the two models with the lowest prediction errors, comparing with the validation set approach.</td></tr>
</table>
